<div class="block__container" id="anchor1">

  <div class="block__row header">
    <router-outlet></router-outlet>
    <app-button [targetId]="'#anchor2'" [title]="'Survay the animation'"></app-button>
<!--    <div class="button__anchor button__anchor&#45;&#45;animate" >-->
<!--      <a href="experiments/#anchor&#45;&#45;2" class="button_link">Go there</a>-->
<!--    </div>-->
  </div>

  <div class="block__row gallery">

    <div class="block__column">
      <app-gallery-lazy-load></app-gallery-lazy-load>
    </div>

    <div class="block__column scroll" id='scroll'>
      <div class='scroll__runner' id="scroll_runner">
        <img src='../../../../assets/images/wz_box.png' >
      </div>
    </div>

  </div>

  <div class="block__row winzip-animation">
    <app-winzip-animation></app-winzip-animation>
    <app-button [targetId]="'#anchor1'" [title]="'Go to Start'"></app-button>

<!--    <div class="button__anchor button__anchor&#45;&#45;animate" >-->
<!--      <a href="#anchor&#45;&#45;1" class="button_link">Go there</a>-->
<!--    </div>-->

  </div>

  <footer class="footer block__row" id="anchor2">
    <div class="block__column">
    </div>
    <div class="block__column">
    </div>
    <div class="block__column">
    </div>
  </footer>


</div>
