<!--      <app-spa-nav></app-spa-nav>-->
<div class="block__container">
  <div class="block__row">
    <div class="block__column">
      <router-outlet></router-outlet>

      <div class="gallery block__row">
        <div class="block__column">
          <app-gallery-lazy-load></app-gallery-lazy-load>
        </div>
      </div>

      <div class="winzip-animation block__row">
        <div class="block__column">
          <app-winzip-animation></app-winzip-animation>
          <app-button></app-button>
        </div>
      </div>

      <footer class="footer block__row">
        <div class="block__column">
        </div>
      </footer>

    </div>
  </div>
</div>
