<div class="block__container" id="anchor1">

  <div class="block__row header" id="video-bg">
    <!--    <router-outlet></router-outlet>-->


    <video width="100%" height="auto" preload="auto" autoplay="autoplay" loop="loop">
      <source src="../../../../assets/video/website.mp4" type="video/mp4">
    </video>


    <div class="button__anchor button__anchor--animate">
      <a [ngx-scroll-to]="'#anchor2'" [ngx-scroll-to-duration]=2000 class="button_link">I`m a button</a>
    </div>
  </div>

  <div class="block__row gallery">

    <div class="block__column">
      <app-gallery-lazy-load></app-gallery-lazy-load>
    </div>

    <div class="block__column scroll" id='scroll'>
      <div class='scroll__runner' id="scroll_runner">
        <img src='../../../../assets/images/wz_box.png'>
      </div>
    </div>

  </div>

  <div class="block__row winzip-animation" id="anchor2">
    <app-winzip-animation></app-winzip-animation>

    <div class="button__anchor button__anchor--animate">
      <a [ngx-scroll-to]="'#anchor1'" [ngx-scroll-to-duration]=1000 class="button_link">go to top</a>
    </div>

  </div>

  <footer class="footer block__row">
    <div class="block__column">
    </div>
    <div class="block__column">
    </div>
    <div class="block__column">
    </div>
  </footer>


</div>
