/*------- Start gallery---------------------------------------------------------------------------------------------*/
.gallery {
  z-index: 1;
  position: relative;
  padding: 1rem 0.5rem;
  /*background-color: #f2f2f2;*/
}
.gallery--lazy-load {}

.content__image {
  width: 60%;
  margin: 4em auto 4em;
  text-align: center;
  /*background: white;*/
}

.content__image img:first-child {
  margin-top: 0;
}


.content__image img {
  display: inline-block;
  width: 100%;
  vertical-align: center;
  border-radius: 0.5em;
  /*margin: auto;*/
  /*-webkit-box-shadow: -2px 6px 8px 6px rgba(0,0,0,0.24);*/
  /*-moz-box-shadow: -2px 6px 8px 6px rgba(0,0,0,0.24);*/
  /*box-shadow: -2px 6px 8px 6px rgba(0,0,0,0.24);*/
}
.content__image:nth-child(1) img {  margin-left:  -2em;}
.content__image:nth-child(2) img {  margin-left: 3em;}
.content__image:nth-child(3) img {  margin-left:  -6em;}
.content__image:nth-child(4) img {  margin-left:  -2em;}
.content__image:nth-child(5) img {  margin-left: 4em;}
.content__image:nth-child(6) img {  margin-left:  0em;}
.content__image:nth-child(7) img {  margin-left: 5em;}
/*------- End of gallery--------------------------------------------------------------------------------------------*/


/*------Start Animated from the right headers -------------------------------------------------------------------- */
.c-direction-block_item {
  position:       absolute;
  font-size:      10vw;
  white-space:    nowrap;
  font-weight:    600;
  text-transform: uppercase;
  line-height:    1;

  /*for -three*/
  left: 0;

  /*my*/
  /*top: 20%;*/
  z-index: -1;
}

.c-direction-block_item1 {
  transform: rotate(9deg);
  top: 20%;
}
.c-direction-block_item2 {
  transform: rotate(-9deg);
  top: 25%;
  /*z-index: 1;*/
}
.c-direction-block_item3 {
  transform: rotate(9deg);
  top: 30%;
}
.c-direction-block_item4 {
  transform: rotate(-9deg);
  top: 35%;
  z-index: 1;
}
.c-direction-block_item_inner {
  position: absolute;
  -o-transition:      all .5s cubic-bezier(0, 0, .18, .55);
  -moz-transition:    all .5s cubic-bezier(0, 0, .18, .55);
  -webkit-transition: all .5s cubic-bezier(0, 0, .18, .55);
  transition:         all .5s cubic-bezier(0, 0, .18, .55);
  font-family: "ProximaNova", Arial, sans-serif;
  color: #443960;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -369.883, 0, 0, 1);
}

#direction1 {}
#direction2 {}
#direction3 {}
#direction4 {}
/*------- End Animated from the right headers ----------------------------------------------------------------------*/
