<div class="gallery gallery--lazy-load" id="gallery" (onLoad)="getLazyh">


  <div class="content__image" *ngFor="let i of img">
    <img [attr.data-src]="i.lazyLoad" src="{{i.defaultImage}}" alt="city" class="lazy" id="{{i.class}}">
  </div>

  <div class="c-direction-block_item c-direction-block_item1">
        <span class="c-direction-block_item_inner" id="direction1">
            If successed done...
        </span>
  </div>

  <div class="c-direction-block_item c-direction-block_item2">
        <span class="c-direction-block_item_inner" id="direction2">
            If successed done...
        </span>
  </div>

  <div class="c-direction-block_item c-direction-block_item3">
        <span class="c-direction-block_item_inner" id="direction3">
            push yourself
        </span>
  </div>

  <div class="c-direction-block_item c-direction-block_item4">
        <span class="c-direction-block_item_inner" id="direction4">
            If successed done...
        </span>
  </div>

</div>
