<div class="parallax parallax__module-1">
</div>
  <router-outlet></router-outlet>

<div class="parallax parallax__module-2">
  <div class="parallax__module-2--back">
    <div class='parallax__module-2--preback' id='scroll'>
      <img src='../../../../assets/images/wz_box.png' id="scroll_runner">
    </div>
  </div>
  <app-gallery-lazy-load></app-gallery-lazy-load>
</div>

<div class="parallax parallax__module-3">
  <app-winzip-animation></app-winzip-animation>
  <app-button></app-button>
</div>


