/*----- Start BLOCK MODEL -----------------------------------------------*/
/*For demonstration */
header, footer, div, ul, li {
  /*margin: 1em;*/
  /*padding: 1em;*/
  /*border: 0.1em solid #864704;*/
  /*position: relative;*/
}
.block__container {
  padding: 2rem;
  font-size: 0.7rem;
}
@supports (display: flex) or (display: -webkit-box) {
  .block__row {
    position: relative;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;

    justify-content: center;
    -webkit-justify-content: center;

    max-width: 980px;

    align-items: center;
    -webkit-align-content: center;
    -webkit-align-items: center;

    overflow: hidden;
  }
  .block__column {
    position: relative;
    overflow: hidden;
  }
}
.block__text {
  margin-top: 1em;
  margin-bottom: 5em;
}
.block__text h1,
.block__text h2,
.block__text h3,
.block__text p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.block__img img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.block__button a {
  display: inline-block;
  text-transform: uppercase;
}
.block__button a:hover {}
/*----- End BLOCK MODEL ------------------------------------------------------------*/

/*----- Start Styles for this layout -----------------------------------------------*/
.header {
  height: 70em;
  background-image: url("../../../../assets/images/5g.jpg");
  background-position: top 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}
.dashboard-user .block__column {
  border: 1px solid #EFEFEF;
  padding: 1rem;
}
.block__column--box-shadow {
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.05);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.05);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.05);
}
.block__column--box-shadow:hover {
  -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0 7px 0 rgba(0,0,0,0.15);
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.15);
}

/*----- End Styles for this layout -------------------------------------------------*/
/*----- Start Styles for Links Component -------------------------------------------------*/
.links h2 fa-icon {
color: #44639f;
}
.links .block__row {
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: visible;
}
.links .block__row .block__column:not(:last-child) {
  margin-right: 1rem;
}
.links .block__column {
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  max-width: 280px;
  cursor: pointer;
  background-color: #ffffff;
}
.links .links-icon {
  font-size: 3rem;
  color: #44639f;
}
.links .links-name {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #2b3d60;
  align-self: center;
}
/*----- End Styles for Links Component -------------------------------------------------*/
