/*------- End reset default styles in components -----------------------------------------------------------------*/
html {
  font-size: 20px;
}
/*------- Start parallax--------------------------------------------------------------------------------------------*/
.parallax {
  /*position: relative;*/
}

.parallax__module-1 {
  height: 35rem;
  background-image: url("../../../../assets/images/5g.jpg");
  background-position: top 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  z-index: -1;
}

.parallax__module-2 {
  position: relative;
  overflow: hidden;
}

.parallax__module-3 {
  position: relative;
  background: #913895;
  overflow: hidden;
}

/*------- End of parallax-------------------------------------------------------------------------------------------*/

/*------- Start module-2---------------------------------------------------------------------------------------------*/
.parallax__module-2--back {
  z-index: 15;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url("../../../../assets/images/base.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  transform: perspective(3px);
}
/*------- End of module-2--------------------------------------------------------------------------------------------*/


/*------- Start box lift by module -------------------------------------------------------------------------------------------*/
.parallax__module-2--preback {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 10%;
  right: 1%;
}

.parallax__module-2--preback img {
  /*position:fixed;*/
  position: relative;
  display: block;
  /*animation: animate 10s linear infinite;*/
  /*bottom: -150px;*/
  width: 100%;
  height: auto;
  /*animation-delay: .5s;*/
  top: 0;
  /*transform: translateY(-50%);*/

  /*transition:         top .3s cubic-bezier(0, 0, .18, .55);*/
  /*-o-transition:      top .3s cubic-bezier(0, 0, .18, .55);*/
  /*-ms-transition:     top .3s cubic-bezier(0, 0, .18, .55);*/
  /*-moz-transition:    top .3s cubic-bezier(0, 0, .18, .55);*/
  /*-webkit-transition: top .3s cubic-bezier(0, 0, .18, .55);*/
}

@keyframes animate {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-4000px);
  }
}

/*------- End of box lift by module-------------------------------------------------------------------------------*/






/*------Start Media------------------------------------------------------------------------------------------------ */
@media (max-width: 1280px) {
  .parallax__module-1 {
    background-size: cover;
  }
}
/*------End  Media--------------------------------------------------------------------------------------------- */
