/*----- Start BLOCK MODEL -----------------------------------------------*/
/*For demonstration */
header, footer, div, ul, li {
  /*margin: 1em;*/
  /*padding: 1em;*/
  /*border: 0.1em solid #864704;*/
  /*position: relative;*/
}
.block__container {
  padding: 2rem;
  font-size: 0.7rem;
}
@supports (display: flex) or (display: -webkit-box) {
  .block__row {
    position: relative;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;

    justify-content: center;
    -webkit-justify-content: center;

    align-items: center;
    -webkit-align-content: center;
    -webkit-align-items: center;

    overflow: hidden;
  }
  .block__column {
    position: relative;
    overflow: hidden;
  }
}
.block__text {
  margin-top: 1em;
  margin-bottom: 5em;
}
.block__text h1,
.block__text h2,
.block__text h3,
.block__text p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.block__img img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.block__button a {
  display: inline-block;
  text-transform: uppercase;
}
.block__button a:hover {}
/*----- End BLOCK MODEL ------------------------------------------------------------*/

/*----- Start Styles for this layout -----------------------------------------------*/
.header {
  height: 70em;
  background-image: url("../../../../assets/images/5g.jpg");
  background-position: top 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}
.dashboard-user .block__column {
  border: 1px solid #EFEFEF;
  padding: 1rem;
}


/*----- End Styles for this layout -------------------------------------------------*/
