<div *ngIf="updatesService.updates.length > 0">
  <div class="dashboard-updates">
    <div class="block__column block__column--box-shadow">
      <div class="block__row">
        <h2 class="dashboard-updates__title" matBadge="{{updatesService.updates.length}}" matBadgeColor="warn" matBadgeOverlap="true" matBadgeSize="medium" matBadgePosition="after">Updates Available <span></span></h2>
      </div>
      <mat-divider></mat-divider>
      <mat-table [dataSource]="dataSource" class="dashboard-updates__table">
        <!-- Position Column -->
        <ng-container matColumnDef="productPhrase">
          <mat-cell *matCellDef="let element"><b>{{element.productPhrase}}</b></mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="productName">
          <mat-cell *matCellDef="let element"> {{element.productName}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="version">
          <mat-cell *matCellDef="let element" class="dashboard-updates__version">New Version: {{element.version}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="link">
          <mat-cell *matCellDef="let element" routerLink="{{element.link}}" class="dashboard-updates__link" matTooltip="Go to the product page" [matTooltipPosition]="'after'"><span>Update</span></mat-cell>
        </ng-container>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>

