/*------- Start button__anchor---------------------------------------------------------------------------------------*/
/*.button__anchor--animate {
  transition: transform 1s cubic-bezier(0, 0, .18, .55);
  -o-transition: transform 1s cubic-bezier(0, 0, .18, .55);
  -ms-transition: transform 1s cubic-bezier(0, 0, .18, .55);
  -moz-transition: transform 1s cubic-bezier(0, 0, .18, .55);
  -webkit-transition: transform 1s cubic-bezier(0, 0, .18, .55);

  transform: translate(10%, -10%);
  -o-transform: translate(10%, -10%);
  -ms-transform: translate(10%, -10%);
  -moz-transform: translate(10%, -10%);
  -webkit-transform: translate(10%, -10%);
  opacity: 0;
}*/

.button__anchor {
  position: absolute;
  top: 70%;
  left: 10%;
  background: rgba(42, 246, 255, 0.1);
  background: linear-gradient(90deg, rgba(42, 246, 255, 0.1) 0%, rgba(173, 0, 188, 0.1) 100%);
  display: inline-block;
  border: 1px solid #f4b29c;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  border-radius: 1.4rem;
  overflow: hidden;
}

.button__anchor:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 50%;
  background: rgb(42, 246, 255);
  background: linear-gradient(90deg, rgba(42, 246, 255, 1) 0%, rgba(173, 0, 188, 1) 100%);
}

.button__anchor a {
  display: block;
  position: relative;
  color: #f4b29c;
  /*font-family: "ProximaNova", Arial, sans-serif;*/
  padding: .7rem 1.1rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  border-radius: 1.4rem;
  overflow: hidden;
  text-decoration: none;
}

.button__anchor:hover.button__anchor:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all .5s cubic-bezier(0, 0, .18, .55) .1s;
  border-radius: 5px 7px 9px 3px;
}

.button__anchor:hover a {
  color: #000000;
  transition: color .5s cubic-bezier(0, 0, .18, .55) .1s;
}
/*------- End button__anchor---------------------------------------------------------------------------------------*/
