/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Nunito Sans', "Helvetica Neue", sans-serif; }
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
  background: #000;
  opacity: 0.3 !important;
}
